# The MySQL clients
[client]
user=root
password={{ mysql_root_password }}
port=3306
socket=/var/run/mysqld/mysqld.sock

# The MySQL server
[mysqld]
#port=3306
socket=/var/run/mysqld/mysqld.sock
log_error=mysqld.err
