<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<h1>Edit <span th:text="${action.poll.name}" /> by User <span th:text="${action.poll.creator.username}" /></h1>

<article>
    <section>
        <form name="editPollForm" action="updatePollAction" method="post">
            <input type="hidden" name="pollId" th:value="${action.poll.id}" />
            <div>
                <label>Name</label>
                <input type="text" name="name" th:value="${action.poll.name}" />
            </div>
            <div>
                <label>Description</label>
                <textarea name="description" th:text="${action.poll.description}" />
            </div>
            <div>
                <p>Suggested Dates</p>

                <section th:each="date : ${action.poll.suggestedDates}">
                    <div>
                        <label>Start</label>
                        <input type="datetime-local" name="start" th:value="${date.startTime.toString()}" />
                    </div>
                    <div>
                        <label>End</label>
                        <input type="datetime-local" name="end" th:value="${date.endTime.toString()}" />
                    </div>
                </section>

            </div>
            <input type="submit" value="Save"/>
        </form>
    </section>
</article>
</body>
</html>