<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" href="foundation" />
    <script src="modernizr"></script>
</head>
<body>
    <nav class="top-bar">

        <ul class ="title-area">

            <li class="name"><h1><a href="index">Date-Poller</a></h1></li>

        </ul>

        <section class="top-bar-section">

            <ul class="right">

                <li><a href="login">Login</a></li>
                <li><a href="registration">Registration</a></li>
                <li><a href="contact">Contact</a></li>

            </ul>

        </section>

    </nav>

    <div class="row">
        <div class="large-12 columns">
            <h1>Edit <span th:text="${action.poll.name}" /> by User <span th:text="${action.poll.creator.username}" /></h1>

            <article>
                <section>
                    <form name="editPollForm" action="updatePollAction" method="post">
                        <input type="hidden" name="pollId" th:value="${action.poll.id}" />
                        <div>
                            <label>Name</label>
                            <input type="text" name="name" th:value="${action.poll.name}" />
                        </div>
                        <div>
                            <label>Description</label>
                            <textarea name="description" th:text="${action.poll.description}" />
                        </div>
                        <div>
                            <p>Suggested Dates</p>

                            <section th:each="date : ${action.poll.suggestedDates}">
                                <div>
                                    <label>Start</label>
                                    <input type="datetime-local" name="start" th:value="${date.startTime.toString()}" />
                                </div>
                                <div>
                                    <label>End</label>
                                    <input type="datetime-local" name="end" th:value="${date.endTime.toString()}" />
                                </div>
                            </section>

                        </div>
                        <input type="submit" value="Save"/>
                    </form>
                </section>
            </article>
        </div>
    </div>
</body>
</html>