<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" href="foundation" />
    <script src="modernizr"></script>
</head>
<body>

    <nav class="top-bar">

        <ul class ="title-area">

            <li class="name"><h1><a href="welcome">Date-Poller</a></h1></li>

        </ul>

        <section class="top-bar-section">

            <ul class="right">

                <li><a href="login">Login</a></li>
                <li><a href="registration">Registration</a></li>
                <li><a href="contact">Contact</a></li>

            </ul>

        </section>
    </nav>

    <div class="row">
        <div class="large-12 columns">
            <h1>All Polls</h1>

            <article>
                <table>
                    <tr>
                        <th>Name</th>
                    </tr>

                    <tr th:each="poll : ${action.pollList}">
                        <td th:text="${poll.name}"></td>
                        <td th:if="${action.user.username == poll.creator.username}"><a th:href="@{editPollAction(id=${poll.id})}">edit</a></td>
                        <td th:if="${poll.finished == false}"><a th:href="@{showPollAction(id=${poll.id})}">show</a></td>
                        <td th:if="${poll.finished == false and action.user.username == poll.creator.username}"><a th:href="@{finishPollDialogAction(id=${poll.id})}">finish</a></td>
                        <td th:if="${action.user.username == poll.creator.username}"><a th:href="@{deletePollDialogAction(id=${poll.id})}">delete</a></td>
                        <td th:if="${poll.finished == true}" th:text="'From ' + ${poll.finalDate.startTime} + ' to ' + ${poll.finalDate.endTime}" />
                    </tr>
                </table>
            </article>
        </div>
    </div>
</body>
</html>