<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<h1>All Polls</h1>

<article>

    <table>
        <tr>
            <th>Name</th>
        </tr>

        <tr th:each="poll : ${action.pollList}">
            <td th:text="${poll.name}"></td>
            <td><a th:href="@{editPollAction(id=${poll.id})}">edit</a></td>
            <td><a th:href="@{showPollAction(id=${poll.id})}">show</a></td>
        </tr>
    </table>
</article>
</body>
</html>