<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<h1>Edit <span th:text="${action.poll.name}" /> by User <span th:text="${action.poll.creator.username}" /></h1>

<article>
    <section th:switch="${action.user}">

        <p th:case="${action.poll.creator}">you are the creator!</p>

        <form th:case="*" name="participatePollForm" action="participatePollAction" method="post">
            <input type="hidden" name="pollId" th:value="${action.poll.id}" />
            <div>
                <label>Name</label>
                <input type="text" name="name" th:value="${action.poll.name}" readonly="readonly" />
            </div>
            <div>
                <label>Description</label>
                <textarea name="description" th:text="${action.poll.description}" readonly="readonly" />
            </div>
            <div>
                <p>Suggested Dates</p>

                <section th:each="date : ${action.poll.suggestedDates}">
                    <div>
                        <label>Date</label>
                        <input type="checkbox" name="dateIdList" th:value="${date.id}" th:text="'From ' + ${date.startTime} + ' to ' + ${date.endTime}" />
                    </div>
                </section>

            </div>
            <input type="submit" value="Submit"/>
        </form>
    </section>
</article>
</body>
</html>