<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <context:property-placeholder location="classpath:application.properties" />

    <context:component-scan base-package="de.datepoller" />

    <jpa:repositories base-package="de.datepoller.data" />

    <bean id="thymeleafResult" class="org.codework.struts.plugins.thymeleaf.ThymeleafResult" />

    <bean id="loginAction" class="de.datepoller.actions.LoginAction" />

    <bean id="registrationAction" class="de.datepoller.actions.RegistrationAction" />

    <bean id="createPollAction" class="de.datepoller.actions.CreatePollAction" />

    <bean id="pollListAction" class="de.datepoller.actions.PollListAction" />

    <bean id="editPollAction" class="de.datepoller.actions.EditPollAction" />

    <bean id="updatePollAction" class="de.datepoller.actions.UpdatePollAction" />

    <bean id="showPollAction" class="de.datepoller.actions.ShowPollAction" />

    <bean id="participatePollAction" class="de.datepoller.actions.ParticipatePollAction" />
</beans>